[2013-02-06 06:11] pplimport opened #1 "3D view in Projections"
*Original author: Nikhil Jain*
*Original issue: https://charm.cs.illinois.edu/redmine/issues/21*

---
Java based 3D view in projections is buggy - fix it.

[2013-07-25 01:44] PhilMiller opened #2 "PMPI: Record times and sizes of sent/received messages"
*Original issue: https://charm.cs.illinois.edu/redmine/issues/256*

---
Opening this so that the work is visible, both to external users and for internal workload balancing.

[2013-07-29 21:20] pplimport opened #3 "Message size doesn't show correctly for Pack-Unpack"
*Original author: Osman Sarood*
*Original issue: https://charm.cs.illinois.edu/redmine/issues/258*

---
The message sizes only represent the 112 bytes header if pack unpack for messages is used. Parameter marshalling works correctly.
Example:
1. charm/examples/ring: Currently the example uses pack unpack methods for custom Msg type. Trace-projections fails to log the correct message size. The exam

[2013-08-26 20:33] pplimport opened #4 "Projection utilization summary title not displayed properly"
*Original author: Nikhil Jain*
*Original issue: https://charm.cs.illinois.edu/redmine/issues/280*

---
The Y axis title for processor utilization graph is not displayed correctly.

[2013-12-29 02:02] PhilMiller opened #5 "Message size histogram omits some counts entirely"
*Original issue: https://charm.cs.illinois.edu/redmine/issues/386*

---
When I load a coarse-resolution histogram (200 bins, 100 bytes each) that covers my entire run's set of message sizes, all of the counts are graphed correctly. However, if I set some finer resolutions, some of the data is omitted from the subsequent display entirely. This could be extremely misleading!

With the attached log,

[2014-01-10 18:36] #5 closed, assigned to pplimport

[2014-02-12 23:34] rbuch opened #6 "Idle/Overhead Display Disagreement"
*Original issue: https://charm.cs.illinois.edu/redmine/issues/414*

---
Extrema Analysis shows overhead where Usage Profile/Timeline shows idle time.

This can be reproduced with:
/sharedscratch/harshitha/cosmomslb200knodelbck9/
time range 104.2 s to 105.19
load 0-31743:1024 pes

[2014-02-12 23:41] rbuch opened #7 "Performance"
*Original issue: https://charm.cs.illinois.edu/redmine/issues/415*

---
Profile and improve the performance of projections.  Look into using hardware acceleration for drawing.

[2014-03-12 16:55] pplimport opened #8 "timeline does not show correctly about idle overhead"
*Original author: Yanhua Sun*
*Original issue: https://charm.cs.illinois.edu/redmine/issues/435*

---
I do not know whether others have this problem.  I found that after we added SDAG_RTS entry
in Charm, the time profile , usage profile in Projections can not display correctly.

In timeline, the SDAG_RTS seems not much time. However, when using time profile, it is totally messed up. All overhead t

[2014-03-12 17:07] rbuch opened #9 "Change Default Extrema Analysis View to "Least Idle Time""
*Original issue: https://charm.cs.illinois.edu/redmine/issues/436*

---
The majority of people who use extrema analysis use the "least idle time" view.  Change the GUI so that this is the default choice.

[2014-03-14 17:14] rbuch opened #10 "External received bytes is higher than total received bytes"
*Original issue: https://charm.cs.illinois.edu/redmine/issues/438*

---
In the communication vs. time graph, the external received bytes count is higher than the total received bytes count.  This is clearly fallacious.

![bytes_recvd](https://user-images.githubusercontent.com/1772435/63629929-68e72800-c5db-11e9-806a-8d62d435c94b.png)
![external_bytes_recvd](https://user-images.githubusercontent.co

[2014-03-14 20:23] rbuch opened #11 "Histogram does not correctly display for 1 interval"
*Original issue: https://charm.cs.illinois.edu/redmine/issues/439*

---
When in histogram views, choosing one interval shows more than one bar when it shouldn't.

[2014-03-14 20:26] rbuch opened #12 "Display warning if user tries processing large logs"
*Original issue: https://charm.cs.illinois.edu/redmine/issues/440*

---
If the user selects a large number of processes or large time intervals on large logs, display some warning to ensure users don't unknowingly overstress their machines.

[2014-03-31 18:30] pplimport opened #13 "usage profile and extrema does not display correctly for Apoa1 NAMD"
*Original author: Yanhua Sun*
*Original issue: https://charm.cs.illinois.edu/redmine/issues/455*

---
The logs are here
/fastscratch/Yanhua/logs_apoa1

Select 8 timesteps and display in usage profile, check for example PE 7, the utilization is wrong
Extreme of least idle is totally messed up.

[2014-03-31 20:48] ericjbohm opened #14 "Timeline backtrace failure on OpenAtom traces"
*Original issue: https://charm.cs.illinois.edu/redmine/issues/457*

---
Trace to sender, as invoked by the right click pulldown menu, fails to load for OpenAtom traces for nearly all entry methods.  Failure error message is "Message was sent from outside the current time range".  However, that is a clear misdiagnosis.  When you have loaded an entire time step and examine methods from phases late i

[2014-04-02 16:48] pplimport opened #15 "inline and local entry method can not be tracked back"
*Original author: Yanhua Sun*
*Original issue: https://charm.cs.illinois.edu/redmine/issues/459*

---
In projections, if you click on a entry method which is inline or local, it can not be traced back.  This is due to the nested begin_processing entries
in the log.

We want to trace it to its parent entry method.

[2014-04-04 19:38] #14 closed, assigned to rbuch

[2014-04-24 17:26] ericjbohm opened #16 "Overview falsely displays some cores as idle"
*Original issue: https://charm.cs.illinois.edu/redmine/issues/483*

---
Overview is dropping many entry methods from its display making cores appear to be idle when they are not.  These appear correctly in timeline.

For example see:
~/work/w256_4k.tracered.rhor1.t22

If you examine the interval 15.123s-16.884s (saved) for cores 2664 to 2689 (as shown in attached screen shots) the overview looks w

[2014-05-20 20:57] pplimport opened #17 "Enter button will automatically trigger OK button in the pop-up window"
*Original author: Zhengqi Yang*
*Original issue: https://charm.cs.illinois.edu/redmine/issues/497*

---
In the main window, if open up "Tools" menu, and then use "Enter" button to open a menu item, the OK button in the pop-up window will be clicked(triggered) automatically if there is one. (Tested with a few menu items)

[2014-05-22 18:45] #9 closed, assigned to pplimport

[2014-05-29 19:05] #12 closed, assigned to pplimport

[2014-06-01 04:06] pplimport opened #18 "show communication threads in usage profile"
*Original author: Lukasz Wesolowski*
*Original issue: https://charm.cs.illinois.edu/redmine/issues/505*

---
Given that we normally assign a communication thread in Charm++ to a separate core, it would be useful to be able to visualize the utilization of this core to determine whether it is under- or overutilized. This could help, for example, when determining how many comm threads are optimal for

[2014-06-02 16:29] pplimport opened #19 "show the useful timerange in timeline"
*Original author: Yanhua Sun*
*Original issue: https://charm.cs.illinois.edu/redmine/issues/506*

---
Currently, when we open timeline by default the time range is from 0 to maximum end time. However, for a lot of projections logs, only a small portion has real data.
Please refer to this log set,/dcsdata/home/jessie/PPL/NAMD/benchmarks/vesta/prj_root_2048_2. Actually this is true for most NAMD log

[2014-06-02 16:33] pplimport opened #20 "save processor data set"
*Original author: Yanhua Sun*
*Original issue: https://charm.cs.illinois.edu/redmine/issues/507*

---
Now, we can save time range to history and to disk so that next time when we load we can directly use them. Similarly for large scale run, it is useful to save interesting processor data set.

[2014-06-06 20:11] pplimport opened #21 "Make reading logs more unified"
*Original author: Maxx Macica*
*Original issue: https://charm.cs.illinois.edu/redmine/issues/514*

---
Right now there are many different files that are used to read and process logs. We should make it more unified and simpler.

[2014-06-06 20:12] #20 closed, assigned to pplimport

[2014-06-06 20:12] #16 closed, assigned to pplimport

[2014-06-09 10:55] rbuch opened #22 "Add new image output formats"
*Original issue: https://charm.cs.illinois.edu/redmine/issues/515*

---
I received an in-person request for vector graphics output (svg preferred, but we might as well support things like pdf and eps) from Projections for ease of including them in papers and allowing things like lossless zoom.  Additionally, the ability to use a white background should be made more clear, as that is more amenable

[2014-06-13 06:49] rbuch opened #23 ""Change Colors" from Usage Profile Does Nothing"
*Original issue: https://charm.cs.illinois.edu/redmine/issues/517*

---
From the Usage Profile view, Tools -> Change Colors does not do anything.  It should open a new window that allows the user to select new colors (cf. operation from the Time Profile graph view)

[2014-06-13 11:27] rbuch opened #24 "Command Line Arguments with Spaces Incorrectly Parsed"
*Original issue: https://charm.cs.illinois.edu/redmine/issues/518*

---
When attempting to load a file on the command line with a path that contains a space, the parser splits on the space.

For example:
ronak`machine:~$ projections ~/Test\ Dir/test.sts
Internal Error: Path [/home/ronak/Dir] supplied for file detection is not a directory! Please report to developers!

[2014-06-13 20:36] pplimport opened #25 "Conversion of time to humanReadableString causes rounding errors"
*Original author: Maxx Macica*
*Original issue: https://charm.cs.illinois.edu/redmine/issues/521*

---
When converting a time to a humanReadableString, the rounding causes us to stop reading our log files early. For example, look at dcsdata/jessie/PPL/git/benchmarks/leanmd/prj_root/. The actual latest time of all the log files is 7610759, but the endTimeField in the range dialog box sets the end t

[2014-06-19 20:46] pplimport opened #26 "Call Table requires slight overhaul"
*Original author: Maxx Macica*
*Original issue: https://charm.cs.illinois.edu/redmine/issues/523*

---
Call Table has some problems, including:
- The main body of the panel isn't actually added to the panel...
- The "Change Colors" button does nothing
- The tool uses AWT instead of Swing for Panels, etc. It should look more like the rest of Projections
- The "Close" button gets cut off when the te

[2014-08-26 16:53] #26 closed, assigned to pplimport

[2014-08-26 16:54] #25 closed, assigned to pplimport

[2014-08-26 16:57] #11 closed, assigned to pplimport

[2014-08-26 17:54] #19 closed, assigned to pplimport

[2014-08-26 17:55] #23 closed, assigned to pplimport

[2014-09-04 16:25] #13 closed, assigned to pplimport

[2014-09-04 20:06] #24 closed, assigned to pplimport

[2014-11-06 19:57] rbuch opened #27 "Show number of messages waiting in queue"
*Original issue: https://charm.cs.illinois.edu/redmine/issues/618*

---
Some indication of the number of available tasks on each PE (i.e. for each PE, a graph of message queue size vs. time) would be useful to identify situations where a PE is starved or overworked.

[2015-02-09 19:19] #4 closed, assigned to rbuch

[2015-03-12 20:01] pplimport opened #28 "trace messages forward through communication threads"
*Original author: Jim Phillips (@jcphill)*
*Original issue: https://charm.cs.illinois.edu/redmine/issues/698*

---
When communication thread tracing is enabled, the "trace messages forward" feature only traces off-node messages to the sending node's communication thread.  Tracing forward should cascade until the message arrives at the actual destination.

[2015-03-12 20:07] pplimport opened #29 "message sends from periodic calls attributed to previous entry"
*Original author: Jim Phillips (@jcphill)*
*Original issue: https://charm.cs.illinois.edu/redmine/issues/699*

---
When tracing messages back, any message generated by a non-entry such as a periodic callback triggers tracing back from the previous entry on that PE. Tracing should stop at the periodic call, or potentially trace back to the entry that created the periodic callback.

[2015-03-19 17:30] rbuch opened #30 "Timeline Color Selection from Non-Default State Not Working"
*Original issue: https://charm.cs.illinois.edu/redmine/issues/703*

---
For the timeline view, when a non-default color scheme (e.g. color by frequency) is chosen, doing manual color selection does not change the color of entry points on the timeline.

[2015-07-16 16:36] rbuch opened #31 "Projections Tutorial"
*Original issue: https://charm.cs.illinois.edu/redmine/issues/794*

---
Make the didactic projections logs publicly available and create a freestanding tutorial page for people to learn how to use Projections by themselves.

[2015-12-15 20:48] PhilMiller opened #33 "Bogus object ID shown for event starting before timeline range"
*Original issue: https://charm.cs.illinois.edu/redmine/issues/924*

---
Will attach screenshot momentarily.

[2016-02-15 16:34] pplimport opened #34 "Tool for analyzing network message latencies"
*Original author: Keshav Santhanam*
*Original issue: https://charm.cs.illinois.edu/redmine/issues/976*

---
No body.

[2016-02-25 20:09] rbuch opened #35 "Sort Usage Profile Based on EP Time"
*Original issue: https://charm.cs.illinois.edu/redmine/issues/991*

---
By default, the Usage Profile view (and most Projections views) are sorted by ascending PE index.  For the sake of improving the ease of analysis, it should be sortable on other properties, such as the amount of time spent in a particular EP on each PE.  This can be extended to an arbitrary degree, allowing sorting on differen

[2016-02-29 19:23] PhilMiller opened #36 "Color by user supplied parameter (e.g. timestep) in non-timeline tools"
*Original issue: https://charm.cs.illinois.edu/redmine/issues/995*

---
Having 'Color by user supplied parameter' in the Timeline tool is quite useful. To make corresponding displays from other tools, it would be useful to have that option elsewhere, too.

I'll open sub-issues for the cases I'm most interested in.

[2016-02-29 19:23] PhilMiller opened #37 "Color by user supplied parameter (e.g. timestep) in Time Profile"
*Original issue: https://charm.cs.illinois.edu/redmine/issues/996*

---
No body.

[2016-02-29 19:23] PhilMiller opened #38 "Color by user supplied parameter (e.g. timestep) in Communication over Time"
*Original issue: https://charm.cs.illinois.edu/redmine/issues/997*

---
No body.

[2016-03-03 19:33] rbuch opened #39 "View showing messages grouped by size"
*Original issue: https://charm.cs.illinois.edu/redmine/issues/1004*

---
Sanjay requested a view that would show the total number of messages in certain sized buckets and that would elide empty spaces between messages.

Histogram does this to some degree, but I think the intent is to make it a bit more sophisticated.

[2016-03-30 18:36] ericjbohm opened #40 "Timeline crashes before displaying dialog"
*Original issue: https://charm.cs.illinois.edu/redmine/issues/1021*

---
Try loading the projections logs in prudence:/scratch/prateek/temper-projections-mar24/pr1 using the current git head of projections.  Now try to open a timeline.

Nothing will be displayed, as there is a chain of errors.

Works fine using the old 07142013 binary distribution.  Which is a tragedy in that it includes no change

[2016-05-05 23:30] epmikida opened #41 "Just user event tracing"
*Original issue: https://charm.cs.illinois.edu/redmine/issues/1057*

---
It would be useful to be able to use projections just for user event tracing. For very finegrained applications like ROSS, tracing every event can be expensive and doesn't necessarily add much. The more interesting part is tracing individual phases with user events, which can only be done when the full trace infrastructure is

[2016-08-22 20:50] rbuch opened #42 "Avoid loading log files beyond what is specified in .sts file"
*Original issue: https://charm.cs.illinois.edu/redmine/issues/1170*

---
Currently, when logs numbered beyond the number specified in the sts file exist in a folder, Projections attempts to load more and gives the exception:
[code]

There's no reason to even attempt to load these.

[2016-08-23 23:46] #42 closed, assigned to rbuch

[2016-09-28 18:58] #40 closed, assigned to rbuch

[2016-09-28 19:25] rbuch opened #43 "Poor responsiveness of Timeline view"
*Original issue: https://charm.cs.illinois.edu/redmine/issues/1229*

---
When scrolling around in timeline, performance can be quite bad, leading to a great deal of lag and a poor user experience.

[2016-09-28 19:28] #43 closed, assigned to rbuch

[2016-09-28 19:30] rbuch opened #44 "Excessive memory utilization when ingesting files into Timeline"
*Original issue: https://charm.cs.illinois.edu/redmine/issues/1230*

---
When loading files into Timeline (and later), there's a lot of memory usage.  For some logs, e.g. `prudence:/scratch/nitin/charity_proj_logs/1`, the memory usage is high enough that they take unreasonably long to load.  This can probably be made more efficient.

[2016-10-12 16:23] #22 closed, assigned to rbuch

[2016-10-27 23:32] stwhite91 opened #45 "Update README"
*Original issue: https://charm.cs.illinois.edu/redmine/issues/1271*

---
The README is out of date in at least its build instructions, maybe other things

[2016-10-28 21:57] #45 closed, assigned to rbuch

[2016-11-06 17:16] nitbhat opened #46 "Usage Profile is blank and shows incorrect selection range for application run with +sumDetail"
*Original issue: https://charm.cs.illinois.edu/redmine/issues/1283*

---
I compiled leanmd with +tracemode summary and ran it with +sumDetail. On opening the leanmd.sum.sts file with projections visualization tool and selecting usage profile, End Time in the range selection is shown as 2441000.0000000001 s, which is invalid.
On selecting that invalid range (or a valid range like 0 - 2.4 ms), a bla

[2016-11-07 22:52] #46 closed, assigned to nobody

[2016-11-08 21:07] nitbhat opened #47 "Projections summary shows 0s for EP Exec Time for a single core large ChaNGa job"
*Original issue: https://charm.cs.illinois.edu/redmine/issues/1293*

---
EPExecTime has a large number of zeros.

To reproduce this issue:
1) Compile charm with enable-tracing.
./build ChaNGa netlrts-linux-x86_64 smp --enable-tracing --with-production -j4

2) After downloading ChaNGa, change its makefile to add -tracemode summary to LDFLAGS.

3) Point ChaNGa to charm
export CHARM_DIR=/dcsdata/home

[2017-02-14 18:32] #47 closed, assigned to rbuch

[2017-04-22 03:39] pplimport opened #48 "Time Profile With Bracketed User Events"
*Original author: Nils Deppe (@nilsdeppe)*
*Original issue: https://charm.cs.illinois.edu/redmine/issues/1524*

---
Because of the structure of our code, we have only one entry method which then forwards to the correct member function for the data it received. I can trace all the user functions with Charm++ and they show up in Timelines. However, it would be very valuable to us if we could see the

[2017-04-22 12:06] pplimport opened #49 "Bracketed User Events Track Numerical Values"
*Original author: Nils Deppe (@nilsdeppe)*
*Original issue: https://charm.cs.illinois.edu/redmine/issues/1525*

---
It would be really useful to be able to pass a `vector<double>` to the `traceUserBracketedEvent` function to record various numbers during runtime. These could, for example, be PAPI counters. It might make sense to ASSERT the size of all vectors for a specific event number are the sa

[2018-01-24 21:09] #8 closed, assigned to rbuch

[2018-01-24 21:12] stwhite91 opened #50 "Display indices for 4+ dimensional chare arrays"
*Original issue: https://charm.cs.illinois.edu/redmine/issues/1780*

---
Currently Projections shows chare array element indices as 3 ints, even though up to 6D arrays are supported.

Issue for the problem in Charm's tracing: https://charm.cs.illinois.edu/redmine/issues/1694

[2018-04-24 22:38] #50 closed, assigned to rbuch

[2018-04-25 15:44] stwhite91 opened #51 "By default display the time range with traces only"
*Original issue: https://charm.cs.illinois.edu/redmine/issues/1884*

---
When I manually insert traceBegin and traceEnd calls into my application to trace say a few iterations out of many, then open Projections on those traces, Projections will display the entire time period that the application ran by default. But only a small sliver of that is stuff that I actually care about. It would be nice t

[2018-04-25 15:46] stwhite91 opened #52 "Nomal/Compact/SuperCompact views are now missing on Mac"
*Original issue: https://charm.cs.illinois.edu/redmine/issues/1885*

---
Since the update to use Mac menu bars, the View options for "Normal", "Compact", and "Super compact" are now gone.
They are useful when examining traces on more PEs than can fit on the screen.

[2018-04-25 16:53] #52 closed, assigned to matthiasdiener

[2018-04-25 17:12] matthiasdiener opened #53 "Remove support for long-broken Topology Display tool"
*Original issue: https://charm.cs.illinois.edu/redmine/issues/1886*

---
When trying to open Tools->Topology Display, the following message appears on the terminal:
[code]

Tested with JDK8/10 on Linux and Mac.

[2018-05-09 17:34] #53 closed, assigned to matthiasdiener

[2018-05-09 17:37] stwhite91 opened #54 "Enable viewing bracketed user events on a per-PE basis"
*Original issue: https://charm.cs.illinois.edu/redmine/issues/1901*

---
When using Projections to visualize traces with AMPI and a high degrees of virtualization (>8 ranks/core), displaying all of the bracketed events on all PEs takes up too much space to be practical. It would be nice to be able to click on a PE and choose to view the bracketed events on that PE, or to be able to select a range

[2018-05-15 00:13] pplimport opened #55 "java.lang.NullPointerException in projections.analysis.Analysis.hasSumFiles"
*Original author: Thomas Quinn*
*Original issue: https://charm.cs.illinois.edu/redmine/issues/1910*

---
I'm trying to analyze some projections traces from ChaNGa (linked with -tracemode projections), and trying to open an sts file gives:

Exception in thread "AWT-EventQueue-0" java.lang.NullPointerException
        at projections.analysis.Analysis.hasSumFiles(Analysis.java:945)
        at project

[2018-05-16 01:06] #55 closed, assigned to rbuch

[2018-06-04 19:08] pplimport opened #56 "Projections shows idle time for offloaded work from OpenMP pragmas"
*Original author: Joseph Hutter*
*Original issue: https://charm.cs.illinois.edu/redmine/issues/1928*

---
Projections does not monitor time spent on stolen tasks. See CPU time analysis on VTune vs Projections.

![Screenshot from 2018-06-04 13-59-39](https://user-images.githubusercontent.com/1772435/63630009-2b36cf00-c5dc-11e9-81bd-bc802c140be7.png)
![Screenshot from 2018-06-04 14-00-05](https://us

[2018-08-07 20:51] stwhite91 opened #57 ""View" -> "Display Legend" is broken"
*Original issue: https://charm.cs.illinois.edu/redmine/issues/1958*

---
The button to display a legend of entry method colors is broken and appears to do nothing right now.

[2018-08-08 16:26] #15 closed, assigned to rbuch

[2018-11-01 05:30] #30 closed, assigned to rbuch

[2019-04-09 21:15] ericjbohm opened #58 "[local] methods cause timeline to fail to display all entry methods thereafter"
*Original issue: https://charm.cs.illinois.edu/redmine/issues/2070*

---
After converting 2 functions to [local], not only to they not appear in timeline, no other entry methods after them are displayed in timeline.

The affected entry methods are still displayed in other views, such as time profile and overview.

see /dcsdata/home/bohm/prj.idlespec.3666231.ifsched.65536.12.16 for traces exhibitin

[2019-04-12 20:50] ericjbohm commented on #1
*Original date: 2013-08-28 18:57:48*

---
A longer list of what buggy means would be helpful.

[2019-04-12 20:50] pplimport commented on #1
*Original author: Nikhil Jain*
*Original date: 2014-01-06 04:19:50*

---
Difficult to describe - In general, for various core counts (especially large), the view is not rendered correctly.

[2019-04-12 20:50] pplimport commented on #1
*Original author: Nikhil Jain*
*Original date: 2014-01-06 04:21:07*

---
We need a lead for Projections!

[2019-04-12 20:50] pplimport commented on #1
*Original author: Yanhua Sun*
*Original date: 2015-02-19 22:54:04*

---
This is about the 3D projections display.  We need to re-examine all the design and see how we want to proceed.  The old implementation by the undergraduate intern is pretty rush and he did it himself.

[2019-04-12 20:52] pplimport commented on #2
*Original author: Osman Sarood*
*Original date: 2013-07-29 21:13:06*

---
I spent sometime understanding the trace-projections code and then added the capability of logging messages along with the msg size and source PEs. The MPI_Main now also shows the message size and source of the message.

[2019-04-12 20:52] pplimport commented on #2
*Original author: Yanhua Sun*
*Original date: 2013-07-30 00:02:06*

---
I checked and found that only MPI_Send MPI_Recv is handled.
However, there are more functions about messaging, MPI_ISend, MPI_Irecv
MPI_SSend, .. also MPI_Broadcast, MPI_Reduce, MPI_Gather. MPI_Alltoall.

[2019-04-12 20:52] pplimport commented on #2
*Original author: Osman Sarood*
*Original date: 2013-07-30 00:25:52*

---
Yes, it is only done for Send/Recv. I will add the collectives too.

[2019-04-12 20:52] pplimport commented on #2
*Original author: Osman Sarood*
*Original date: 2013-07-31 22:01:41*

---
Here is the list of changes I am planning to make:

1. MPI_Recv: Currently I am adding the '1 5 0...' row in the trace for a message. I think we should only add it for the MPI_Send. For MPI_Recv we only record the msg size and the src rank in the following BEGIN_PROCESSING block.

2. I will replicate similar behavior for MPI

[2019-04-12 20:52] pplimport commented on #2
*Original author: Osman Sarood*
*Original date: 2014-01-24 17:58:24*

---
In order to tack collectives, we need to keep track of all the messages sent by MPI. The underlying MPI implementation might be using hypercube or some other technique for the bcast/multicast. Ideally we should hack what messaging pattern is adopted and record messages as it is.
However, a simpler but imperfect way could be

[2019-04-12 20:52] PhilMiller commented on #2
*Original date: 2015-02-11 06:20:20*

---
Passing open Projections Features with non-existent or departed assignees to Ronak for triage and re-assignment.

[2019-04-12 20:53] PhilMiller commented on #3
*Original date: 2013-08-28 19:08:45*

---
Please do the investigation and coding necessary to fix this. Ask others for help as needed, but make sure it gets done.

[2019-04-12 20:53] pplimport commented on #3
*Original author: Ehsan Totoni*
*Original date: 2015-01-28 17:51:52*

---
I could reproduce the case and compare with other cases. In the ring example with pack and unpack routines, the runtime doesn't have any way of knowing the message size to add to the traces. In the case of pup routines, it can call pup::size but there is no such thing here. Even the pack and unpack routines are not called wh

[2019-04-12 20:53] PhilMiller commented on #3
*Original date: 2015-01-29 18:47:05*

---
If the message does cross an address-space boundary, and does get pack()ed, then the runtime can ask the envelope `env->getTotalsize()` after it's packed. If it doesn't cross that boundary, then the message size is literally the size of the never-packed structure.

[2019-04-12 20:53] mprobson commented on #3
*Original date: 2015-04-02 20:26:33*

---
Sam, you're the default re-assignee for Ehsan's bugs so either triage this and assign it to someone else or do it yourself.

[2019-04-12 20:53] rbuch commented on #4
*Original date: 2015-02-09 19:19:02*

---
Unable to reproduce.

[2019-04-12 20:53] PhilMiller commented on #5
*Original date: 2013-12-29 02:03:21*

---
Attach logs

[2019-04-12 20:53] PhilMiller commented on #5
*Original date: 2013-12-29 02:07:26*

---
I tried looking through the source of HistogramWindow, GenericGraphWindow, Graph, ThreadedFileReader, and BinDialogPanel for the root of the problem, but nothing jumped out at me. So, assistance would be appreciated.

[2019-04-12 20:53] pplimport commented on #5
*Original author: Lukasz Wesolowski*
*Original date: 2014-01-03 23:06:49*

---
The bug is in HistogramWindow::calcDisplayData, which selects which bin counts to display for both message size and EM execution time histogram plots. j(below) is bounded using the variable timeNumBins, which is the number of requested bins for the histogram of entry method times. Instead, two different bounding values

[2019-04-12 20:53] pplimport commented on #5
*Original author: Lukasz Wesolowski*
*Original date: 2014-01-10 18:36:36*

---
I fixed the bug and pushed the changes.

[2019-04-12 20:53] PhilMiller commented on #5
*Original date: 2014-01-10 18:40:47*

---
Works, thanks.

[2019-04-12 20:53] ericjbohm commented on #6
*Original date: 2016-09-21 18:30:20*

---
Progress?

[2019-04-12 20:54] ericjbohm commented on #7
*Original date: 2016-09-21 18:26:21*

---
Break this up into subtasks with this as a parent task so that achievable and measurable units of progress can be made and tracked.

[2019-04-12 20:54] pplimport commented on #8
*Original author: Yanhua Sun*
*Original date: 2014-03-31 18:26:50*

---
Ronak, any progress on this?

[2019-04-12 20:54] rbuch commented on #8
*Original date: 2015-02-09 22:12:34*

---
While the logs at /dcsdata/home/jessie/PPL/git/benchmarks/leanmd/prj_root do indeed display erroneous behavior, it is suspicion that the logs themselves are at fault.  I went through and manually calculated the values directly, and they seem to be correct.  I was unable to reproduce the issue with new logs.  Unless somebody can provide logs from a "modern"

[2019-04-12 20:54] pplimport commented on #9
*Original author: Zhengqi Yang*
*Original date: 2014-03-18 21:01:38*

---
Added this feature by simply change the default index of the attribute list to be 1(which is "Least Idle Time") in projections.Tools.Extrema.ExtremaDialogExtension.java.

This can also be implemented by exchanging the entries in "String attributes" in projections.Tools.ExtremaWindow.java.

Now I am wondering how to commit th

[2019-04-12 20:54] pplimport commented on #9
*Original author: Zhengqi Yang*
*Original date: 2014-03-18 21:13:42*

---
By the way, I also tried to use doxygen to generate some documents. They looks messy but are really helpful.

[2019-04-12 20:54] pplimport commented on #10
*Original author: Harshitha Menon*
*Original date: 2014-03-14 18:11:16*

---
I also noticed that external node bytes is not displayed correctly in the communication over time view in projections.

[2019-04-12 20:54] rbuch commented on #10
*Original date: 2015-02-09 18:29:13*

---
I haven't been able to reproduce this live (tried using Jacobi-2d, leanmd, a few of Harshitha's ChaNGa logs).  Putting on hold for now.  The code in Projections appears to be right:
[code]

[2019-04-12 20:54] pplimport commented on #11
*Original author: Maxx Macica*
*Original date: 2014-08-26 16:57:55*

---
Merged on Gerrit.

[2019-04-12 20:55] pplimport commented on #12
*Original author: Nikhil Jain*
*Original date: 2014-05-26 05:24:11*

---
Assigned to Zhengqi since he submitted a patch for it.

[2019-04-12 20:55] pplimport commented on #12
*Original author: Zhengqi Yang*
*Original date: 2014-05-29 19:05:40*

---
Merged on gerrit.

[2019-04-12 20:55] pplimport commented on #13
*Original author: Yanhua Sun*
*Original date: 2014-05-05 16:58:10*

---
Since there is no progress from Ronak, I will delegate this to Maxx.

[2019-04-12 20:55] pplimport commented on #13
*Original author: Yanhua Sun*
*Original date: 2014-09-04 16:25:23*

---
Implemented and checked in

[2019-04-12 20:55] rbuch commented on #13
*Original date: 2014-09-04 20:08:34*

---
Has this been merged?  The gerrit page (http://charm.cs.uiuc.edu/gerrit/#/c/282/) does not show that it has been.

[2019-04-12 20:55] pplimport commented on #13
*Original author: Yanhua Sun*
*Original date: 2014-09-04 20:24:47*

---
In the git log, I saw a commit for this bug

[2019-04-12 20:55] rbuch commented on #13
*Original date: 2014-09-04 21:12:36*

---
Commit 4c8e9b6b726a332df21a433a626d5be85e6b5e36 only fixes the usage profile error, not the extrema error.

[2019-04-12 20:55] pplimport commented on #14
*Original author: Yanhua Sun*
*Original date: 2014-03-31 22:11:27*

---
Is this using uGNI  SMP?   I can see some tracing back working, some not work .  Most likely this is due to some problem of tracing on comm thread.  If there is no comm tracing, it will be likely to work

[2019-04-12 20:55] ericjbohm commented on #14
*Original date: 2014-03-31 22:44:52*

---
Yanhua Sun wrote:

Yes, those are runs on BlueWaters uGNI smp with comm thread tracing enabled.  I'll try a version without commthread tracing.

[2019-04-12 20:55] pplimport commented on #14
*Original author: Yanhua Sun*
*Original date: 2014-03-31 23:17:12*

---
One thing I noticed is that  some entry methods are declared to be 'local'. This confuses Projections, since there  nested execution entries.

[2019-04-12 20:55] pplimport commented on #14
*Original author: Yanhua Sun*
*Original date: 2014-04-01 03:57:51*

---
I figured it out and submitted a fix in gerrit.  If you do not want to wait for the long process.
You can simple do this. in cklocation.C line 1774, change to
           _TRACE_BEGIN_EXECUTE_DETAILED(env->getEvent(), ForChareMsg,epIdx,env->getSrcPe(), env->getTotalsize(), idx. getProjectionID(env->getArrayMgrIdx()));

the main

[2019-04-12 20:55] ericjbohm commented on #14
*Original date: 2014-04-01 19:01:34*

---
I tested it and it does seem to work for the entry methods with are not [local].  So I think that the original bug is fixed.

It is a bit awkward in practice.  Every worker thread traces back to the commthread and then you have to manually zoom in on the comm thread to find the corresponding sender event and initiate a backtrace from there to get to the ex

[2019-04-12 20:55] pplimport commented on #14
*Original author: Yanhua Sun*
*Original date: 2014-04-01 20:35:29*

---
Tracking one message back will go to its comm thread. However, if you select trace back in the menu, you can track back multiple messages.

With comm thread tracing, the original information of sender is lost, replaced by the intermediate sender.  If we want both, we need to modify log format, that will be more work.

Also if

[2019-04-12 20:55] ericjbohm commented on #14
*Original date: 2014-04-01 20:42:43*

---
When using comm thread tracing, you usually want to see both the intermediate comm thread event and the external node sender.  Why not have a projection trace back feature that would trace back through the comm thread to the originator?

[2019-04-12 20:55] PhilMiller commented on #14
*Original date: 2014-04-01 20:43:08*

---
Since it sounds like the comm thread event will trace back to the external send, it would seem natural to have traced-back events that come from a comm thread to automatically trace back a step further (or two steps, if the remote comm thread sent on a worker thread's behalf) to their external source when clicked.

[2019-04-12 20:55] pplimport commented on #14
*Original author: Yanhua Sun*
*Original date: 2014-04-01 20:46:31*

---
The function is there. Now by default it tracks back 10+ messages. We can have an option to let users decide how many further messages to track back. I will assign this to Junior students as an exercise for them, who work on Projections. It should be straightforward.

[2019-04-12 20:55] pplimport commented on #14
*Original author: Yanhua Sun*
*Original date: 2014-04-02 16:46:19*

---
I will close this thread and open an issue for inline (local) entry method tracing back.

[2019-04-12 20:56] pplimport commented on #15
*Original author: Yanhua Sun*
*Original date: 2014-04-09 18:01:52*

---
Any progress?

[2019-04-12 20:56] rbuch commented on #15
*Original date: 2014-04-09 18:20:59*

---
Not yet, I've been busy with class.  I'll have time later today or tomorrow.

[2019-04-12 20:56] ericjbohm commented on #15
*Original date: 2014-04-24 17:44:36*

---
Any progress on this?  It has been 2 weeks.

[2019-04-12 20:56] pplimport commented on #15
*Original author: Yanhua Sun*
*Original date: 2014-05-22 16:28:45*

---
Any progress on this?

[2019-04-12 20:56] ericjbohm commented on #15
*Original date: 2016-09-28 18:45:32*

---
Status?

[2019-04-12 20:56] stwhite91 commented on #15
*Original date: 2018-02-16 05:57:50*

---
Does the related bug #937 fix this entirely?

[2019-04-12 20:56] pplimport commented on #15
*Original author: Seonmyeong Bak*
*Original date: 2018-02-16 20:27:07*

---
It does but the issue is https://charm.cs.illinois.edu/redmine/issues/937 doesn't work in case when inline entry method calls local entry methods inside.
I'm figuring out how to solve this.

[2019-04-12 20:56] rbuch commented on #15
*Original date: 2018-08-08 16:26:09*

---
Fixed in ~~https://charm.cs.illinois.edu/gerrit/#/c/charm/+/3723/~~ https://github.com/UIUC-PPL/charm/commit/8a7c99369b1f37dccd9dbd2328370db5d4ae24e0

[2019-04-12 20:56] pplimport commented on #16
*Original author: Anonymous*
*Original date: 2014-05-02 18:06:03*

---
Test

[2019-04-12 20:56] pplimport commented on #16
*Original author: Yanhua Sun*
*Original date: 2014-05-02 18:23:58*

---
Delegate this task to Maxx. He has been actively working on idle display timeline.

[2019-04-12 20:56] pplimport commented on #16
*Original author: Maxx Macica*
*Original date: 2014-05-21 18:53:40*

---
I think I've fixed the issue, but I just wanted to explain what I've done.

First off I fixed two small issues that weren't listed on Redmine. One was that the processor number in the bottom left corner of the Overview was always wrong. The second was that the utilization view was trying to use an "idleData" array that was ne

[2019-04-12 20:56] pplimport commented on #16
*Original author: Yanhua Sun*
*Original date: 2014-06-02 16:12:35*

---
Eric,

Can you test openAtom logs to see whether this fix works as you want?

You can checkout by
git fetch http://jessie`charm.cs.uiuc.edu/gerrit/projections refs/changes/43/243/5 && git checkout FETCH_HEAD

After you verified,  I will approve it.

[2019-04-12 20:56] ericjbohm commented on #16
*Original date: 2014-06-02 21:10:00*

---
As far as I can tell this does fix the bug of falsely reporting idle time when there is real activity.  However, the fix seems to have introduced a new bug.  Charm message overhead is not reported at all.  All non entry method times are shown as idle.

[2019-04-12 20:56] pplimport commented on #16
*Original author: Maxx Macica*
*Original date: 2014-06-03 16:45:12*

---
Eric, when you have time can you post a picture or explain what you mean by overhead not being reported? On my end I can see overhead in the overview where it appears on the timeline, but maybe I'm missing something.

[2019-04-12 20:56] ericjbohm commented on #16
*Original date: 2014-06-03 20:51:38*

---
Using the projections built based on that branch, neither timeline nor overview display any overhead.  This used to be rendered as "black" time consumed by message processing.  See attached screenshot.

[2019-04-12 20:56] pplimport commented on #16
*Original author: Maxx Macica*
*Original date: 2014-06-03 22:12:47*

---
I've attached a screenshot, on the left is the Overview and Timeline display before the fix, and on the right side is the after display. I hid all entries except for overhead, and it looks the same before and after. When I fixed this bug, I didn't change the way timeline was displayed at all, so I'm not sure how overhead woul

[2019-04-12 20:56] ericjbohm commented on #16
*Original date: 2014-06-03 22:23:36*

---
Ok, I see it now.  The problem is in my memory of what these usually look like.  In this particular case the trace was made after I hacked charm to enable tracing of the reduction framework.  So it shows up in orange blocks here that are normally large tracts of black overhead in the [notrace] case.  Mea culpa.

Fix is good, go ahead.

[2019-04-12 20:57] pplimport commented on #17
*Original author: Yanhua Sun*
*Original date: 2014-05-22 16:26:39*

---
Zhengqi, will you fix this?  Please add an 'Assigness'.

[2019-04-12 20:57] pplimport commented on #17
*Original author: Zhengqi Yang*
*Original date: 2014-05-22 16:33:07*

---
Yanhua Sun wrote:

I'll work on it.

[2019-04-12 20:57] pplimport commented on #17
*Original author: Zhengqi Yang*
*Original date: 2014-05-28 18:31:13*

---
Ronak, can you help me with this bug? I worked on it last week, and found out that the default action listener on keyboard is the Space Key (performs the same action as mouse click). However, I didn't figure out how to set the action listener for Enter key using the current event handler interface. It might just be an easy f

[2019-04-12 20:57] pplimport commented on #17
*Original author: Zhengqi Yang*
*Original date: 2014-05-28 20:59:48*

---
Tried to implement a KeyListener in /src/projections/gui/MainMenuManager.java, and add listeners to the menu items but didn't work.

[2019-04-12 20:57] PhilMiller commented on #18
*Original date: 2015-02-11 06:20:21*

---
Passing open Projections Features with non-existent or departed assignees to Ronak for triage and re-assignment.

[2019-04-12 20:57] stwhite91 commented on #18
*Original date: 2018-01-24 21:15:49*

---
What's the status of this?

[2019-04-12 20:57] stwhite91 commented on #18
*Original date: 2018-02-16 05:57:11*

---
Bump. This was marked Implemented 8 months ago but never merged.

[2019-04-12 20:57] stwhite91 commented on #18
*Original date: 2018-04-29 22:59:09*

---
Bump. Still no record of what happened here

[2019-04-12 20:57] pplimport commented on #19
*Original author: Maxx Macica*
*Original date: 2014-08-26 17:54:43*

---
Merged on Gerrit.

[2019-04-12 20:57] PhilMiller commented on #21
*Original date: 2015-02-11 06:20:21*

---
Passing open Projections Features with non-existent or departed assignees to Ronak for triage and re-assignment.

[2019-04-12 20:58] rbuch commented on #22
*Original date: 2014-06-10 12:00:53*

---
This should be doable fairly easily with Batik (http://xmlgraphics.apache.org/batik/).

[2019-04-12 20:58] PhilMiller commented on #22
*Original date: 2015-02-11 06:20:21*

---
Passing open Projections Features with non-existent or departed assignees to Ronak for triage and re-assignment.

[2019-04-12 20:58] pplimport commented on #23
*Original author: Maxx Macica*
*Original date: 2014-06-13 13:58:43*

---
I actually already implemented this and will commit it once I know my other usage profile bugs have been fixed.

[2019-04-12 20:58] pplimport commented on #23
*Original author: Maxx Macica*
*Original date: 2014-08-26 17:55:41*

---
Merged on Gerrit.

[2019-04-12 20:58] pplimport commented on #24
*Original author: Yanhua Sun*
*Original date: 2014-09-04 16:23:01*

---
This is also fixed, right? If so, please close it.

[2019-04-12 20:58] pplimport commented on #25
*Original author: Maxx Macica*
*Original date: 2014-06-13 20:38:16*

---
The correct path for those log files is /dcsdata/home/jessie/PPL/git/benchmarks/leanmd/prj_root/.

[2019-04-12 20:58] pplimport commented on #25
*Original author: Maxx Macica*
*Original date: 2014-08-26 16:54:18*

---
Merged on gerrit.

[2019-04-12 20:58] pplimport commented on #26
*Original author: Maxx Macica*
*Original date: 2014-08-26 16:53:23*

---
Merged on gerrit.

[2019-04-12 20:59] PhilMiller commented on #27
*Original date: 2015-02-11 06:20:22*

---
Passing open Projections Features with non-existent or departed assignees to Ronak for triage and re-assignment.

[2019-04-12 20:59] pplimport commented on #28
*Original author: Jim Phillips*
*Original date: 2017-02-18 20:04:28*

---
Can this get a target version please?

[2019-04-12 20:59] pplimport commented on #29
*Original author: Jim Phillips*
*Original date: 2015-03-12 20:15:47*

---
CkLoop slaves are another example of non-entries that experience this issue.

[2019-04-12 20:59] ericjbohm commented on #29
*Original date: 2016-09-21 18:32:19*

---
Any update on this?

[2019-04-12 20:59] pplimport commented on #30
*Original author: Keshav Santhanam*
*Original date: 2015-11-13 20:09:45*

---
When user clicks "Change Entry Point Color", MainWindow.runObject[data.myRun].setEntryColor is called from the actionListener and updates entryColor[entryIndex] correctly. However, the repainting process is then kicked off and the determineColor method in EntryMethodObject ends up resetting entryColor[entryIndex]. The co

[2019-04-12 20:59] rbuch commented on #30
*Original date: 2018-11-01 05:30:37*

---
Unable to reproduce on latest version of Projections.

[2019-04-12 21:00] PhilMiller commented on #33
*Original date: 2015-12-15 20:49:41*

---
That ID should be 3:0:0, not -1:-1:-1

[2019-04-12 21:00] PhilMiller commented on #33
*Original date: 2015-12-15 20:52:07*

---
There appear to be problems with the Begin Time and Total time fields as well, but I'm less certain what to make of those. If fixing them is substantial effort beyond this, please open separate bug(s) to record them and identify their problem.

[2019-04-12 21:00] PhilMiller commented on #34
*Original date: 2016-04-20 02:23:36*

---
I'm finding that this tool would be rather useful for some of my thesis writeup, in presenting the impact of spreading communication traffic out over time. Ideally, it would be nice to show that reduced contention also means lower latency.

So, how's this coming along?

[2019-04-12 21:00] pplimport commented on #34
*Original author: Keshav Santhanam*
*Original date: 2016-04-20 02:32:35*

---
Phil Miller wrote:

It appears to be functional with the one set of log files that I've tested it with so far - however Ronak recently sent me some new log files that I will be testing it with over the next couple of days. If you have any additional test data, that would be very helpful.

Ronak's talk at Workshop will ha

[2019-04-12 21:00] PhilMiller commented on #34
*Original date: 2016-04-20 02:33:43*

---
OK, cool, that sounds good. I'll have some logs to work with as well in the next couple days.

[2019-04-12 21:00] stwhite91 commented on #34
*Original date: 2017-02-01 18:25:32*

---
Can you document here where this tool is and how to use it?

[2019-04-12 21:00] rbuch commented on #35
*Original date: 2016-09-28 19:31:53*

---
This has mostly been finished by Reuben, there are just a few small UI fixes before it can be merged.

[2019-04-12 21:00] PhilMiller commented on #36
*Original date: 2017-10-06 15:17:41*

---
Where's the code for this? Did it ever get integrated? I don't see it on master in the projections repo.

[2019-04-12 21:00] stwhite91 commented on #36
*Original date: 2018-01-24 21:15:17*

---
Bump, see Phil's comment

[2019-04-12 21:01] ericjbohm commented on #39
*Original date: 2018-05-09 16:05:06*

---
Assigned to Ronak, but this seems like a good intern project.

[2019-04-12 21:01] rbuch commented on #43
*Original date: 2016-09-28 19:28:35*

---
Mostly fixed in baeeb76497ee0b3c5cbde3ec8b5c99e94ae244fe, things were bottlenecked on LinkedList linear searching, among others.  Now, profiling yields that the biggest time spent is in painting, as expected.

[2019-04-12 21:01] nitbhat commented on #44
*Original date: 2016-11-06 14:32:24*

---
These logs which take really long to load and on loading become unresponsive are from a single core ChaNGa run (SMP mode) with -tracemode projections. The application takes about 250 seconds for the entire run. Log file size is about 110 MB. I tried opening the logs on prudence with increased memory too. (Explicitly increased memory to 48G in the projectio

[2019-04-12 21:02] rbuch commented on #45
*Original date: 2016-10-28 21:57:36*

---
Update in commit d41cc86fdcdaccd6641db7994ab169d1218e607f

[2019-04-12 21:02] nitbhat commented on #46
*Original date: 2016-11-06 17:19:57*

---
The leanmd.0.sum file seems to have been generated correctly. It is almost the same as the leanmd.0.sum generated without the +sumDetail option. In the case of +sumDetail not being supplied, the visualization tool behaves correctly by showing a valid range and populating the usage profile correctly.

[2019-04-12 21:02] rbuch commented on #46
*Original date: 2016-11-07 22:52:57*

---
This happened because there was a .projrc file in Nitin's logs that had cached an erroneous time.  This was fixed in commit 3c53c27c7bac23cf0e31ad7f7fe049a9dc58865c.

[2019-04-12 21:02] rbuch commented on #47
*Original date: 2017-02-14 18:32:09*

---
This is correct as far as I know, those EPs just didn't have attributable time.  This was part of a bigger issue where Projections was using cached values that made analysis appear incorrect that was fixed.

[2019-04-12 21:02] matthiasdiener commented on #48
*Original date: 2017-05-24 17:55:51*

---
There have been substantial changes to the visualization of user bracketed events in Projections that are scheduled to be released with 6.8.0, including showing them in the Timelines view. Could you provide us with some test code that illustrates the way your application uses bracketed user events?

[2019-04-12 21:02] stwhite91 commented on #48
*Original date: 2018-01-24 21:14:24*

---
I think we can easily enough reproduce this on AMPI. The "Timeline" view displays User Bracketed Events, but the "Time Profile" view does not.

[2019-04-12 21:02] rbuch commented on #49
*Original date: 2017-07-11 20:29:40*

---
Agreed, being able to provide data and use a vector would be useful. In the mean time, we have a tracing method called user stats (http://charm.cs.illinois.edu/manuals/html/charm++/E.html#SECTION05524000000000000000), which lets you provide values at runtime and computes some statistics (min/max/sum/avg) at analysis time.

[2019-04-12 21:03] stwhite91 commented on #50
*Original date: 2018-04-20 00:05:12*

---
https://charm.cs.illinois.edu/gerrit/#/c/projections/+/4034/

[2019-04-12 21:03] matthiasdiener commented on #52
*Original date: 2018-04-25 15:59:41*

---
(Partial?) fix here: https://charm.cs.illinois.edu/gerrit/#/c/projections/+/4058/

[2019-04-12 21:03] matthiasdiener commented on #53
*Original date: 2018-04-26 15:20:13*

---
Patch to remove it: https://charm.cs.illinois.edu/gerrit/#/c/projections/+/4065/

[2019-04-12 21:03] stwhite91 commented on #53
*Original date: 2018-04-27 15:54:52*

---
Follow-up to remove .topo file generation still needs to be done, as noted in the gerrit patch.

[2019-04-12 21:03] matthiasdiener commented on #53
*Original date: 2018-04-27 17:32:35*

---
Are the .topo files used anywhere outside Projections?

[2019-04-12 21:03] stwhite91 commented on #53
*Original date: 2018-05-01 14:14:20*

---
I don't think so. The only other thing that came to mind was BigSim, since it can simulate different network topologies, but that doesn't appear to use ".topo" anywhere.

[2019-04-12 21:03] ericjbohm commented on #53
*Original date: 2018-05-02 16:15:47*

---
The .topo files were only used for display and analysis in topology aware studies.  AFAIK.  When it worked, the feature was enabled if projections was built with java3d support and the application was run on a machine that had a 3D topology that could be extracted.

[2019-04-12 21:03] rbuch commented on #53
*Original date: 2018-05-02 17:48:01*

---
I think all of this will still work if things are run as Eric said. Using a different version of the j3d library and getting a reasonably close version of libjava3d, I was able to get a window to appear, but it then crashed, likely because the topo file was malformed (seemingly because it wasn't a 3D topology). I think instead of just taking the whole thin

[2019-04-12 21:03] rbuch commented on #53
*Original date: 2018-05-09 17:42:54*

---
Ronak Buch wrote:

As a matter of record, rather than doing this, it seems that this tool was of limited utility for modern/future use, so it was completely removed rather than merely disabling it if the environment isn't correct.

[2019-04-12 21:03] matthiasdiener commented on #53
*Original date: 2018-05-14 18:04:44*

---
Followup patch to remove .topo file creation: ~~https://charm.cs.illinois.edu/gerrit/#/c/charm/+/4171/~~ https://github.com/UIUC-PPL/charm/commit/a8b455cfe7d276aa2d7cfae6fc7fe05f1de13427

[2019-04-12 21:04] pplimport commented on #55
*Original author: Thomas Quinn*
*Original date: 2018-05-15 00:49:54*

---
I think I found the problem: the sts file has a line:
CHARE 50 CkCacheManager<CmiUInt8 > -1
which projections can't parse because of the space.

I'm guessing this has to do with changes to the charm++ compiler.

[2019-04-12 21:04] rbuch commented on #55
*Original date: 2018-05-15 16:48:47*

---
The sts file is correct, but it should have failed earlier, in fact. What version is reported in the sts file (it should be on the second line of the sts file)?

I recently modified the version in Charm and Projections to version 9.0 to better support IDs for chare arrays of dimension greater than 3. Support for the new files was added in Projections commi

[2019-04-12 21:04] rbuch commented on #55
*Original date: 2018-05-15 16:50:39*

---
Oh, wait, sorry, I didn't see the space between "CmiUInt8" and ">". That does indeed seem erroneous and likely due to some change in Charm. I'll take a look.

[2019-04-12 21:04] pplimport commented on #55
*Original author: Thomas Quinn*
*Original date: 2018-05-15 18:40:56*

---
The sts file is version 9.  I deleted the space by hand, and projections works.

[2019-04-12 21:04] rbuch commented on #55
*Original date: 2018-05-15 19:21:54*

---
~~https://charm.cs.illinois.edu/gerrit/#/c/charm/+/4176/~~ https://github.com/UIUC-PPL/charm/commit/27801da2a9b25b9108320187c75f8b997b828999
https://charm.cs.illinois.edu/gerrit/#/c/projections/+/4177/

[2019-04-12 21:04] ericjbohm commented on #56
*Original date: 2018-06-04 19:15:14*

---
this is for a benchmark that uses openmp, no time is attributed in timeline.  Whereas a timeline style view from vtune shows high utilization for the worker threads.

[2019-04-12 21:04] stwhite91 commented on #56
*Original date: 2018-06-08 11:31:32*

---
src/conv-core/conv-taskQ.{h,C} has tracing code in it, so I'm not sure why that wouldn't show up in Projections. Can you see if the tracing output files for each PE has events with the following numbers in them?
[code]

[2019-04-12 21:04] pplimport commented on #56
*Original author: Joseph Hutter*
*Original date: 2018-06-08 14:27:55*

---
in the sts file:
EVENT 145 taskq create work
EVENT 147 taskq work
EVENT 149 taskq steal
EVENT 151 taskq from queue steal
END

[2019-04-12 21:04] pplimport commented on #56
*Original author: Joseph Hutter*
*Original date: 2018-06-08 16:41:23*

---
Joseph Hutter wrote:

[2019-05-04 21:37] rbuch opened #70 "Add support for zooming via scroll wheel in Timeline"
The timeline view should allow zooming in and out via the scroll wheel (a la modern maps). Currently the scroll wheel moves the view up and down and Shift+scrolling moves the view left and right. Thus, I think Ctrl+scrolling to zoom makes sense and wouldn't interfere with the existing behaviors.

[2019-05-06 23:00] #70 closed

[2019-05-16 01:02] rbuch opened #79 "Prefer doing integer math in data processing routines"
There are various places in the codebase where numbers/calculations are in floating point when dealing with discrete data (for example, Communication Over Time, in which the data arrays are kept as rates (msgs/second, for example), but have to be converted back to number of messages, an integral value, at some points). This can cause slight errors due to rounding and increases memory usage and com

[2019-05-28 23:15] rbuch opened #83 "Add Option to Dump Projections View Data to CSV (or similar)"
Users may want to use other graphing or numerical comparison tools to analyze performance data, so add an option to all of the views (sans Timeline) to dump the data being graphed to a CSV (or some kinda of data format) so that it's externally usable.

[2019-05-28 23:17] rbuch opened #84 "Convert Graphs to use JFreeChart"
JFreeChart offers some benefits over the existing graph classes widely used across Projections (change titles, colors, etc.). Where possible, it should be used for graphing instead of our homegrown solution.

[2019-05-28 23:21] rbuch opened #85 "Add CLI Support to Render All Data to a Timeline SVG"
Having a large SVG (the file size might be extremely large) that shows all of the entry methods across the entire run would allow users to easily get an overview of the entire execution and could be sliced up and zoomed in to support detailed analysis or visualization.

[2019-05-30 18:39] rbuch opened #87 "Allow color chooser to change all EPs of a given chare type at once"
It can be useful to highlight all invocations of a particular chare type, but the color chooser currently only supports changing each individual EP color at a time. Add a way to be able to change the color of every EP of a given chare type.

[2020-03-10 17:23] matthiasdiener opened #101 "Projections won't build with gradle 7"
Building with gradle 6 results in the following warnings:

[code]

[2020-03-11 23:49] #101 closed

[2020-07-28 00:14] NK-Nikunj opened #104 "Projections behaving awkwardly on Tiling Window Managers"
**Environment (please complete the following information):**
 - OS: Arch Linux (kernel 5.7.10) running bspwm (a tiling window manager)
 - Projections Version: 10.0
 - Java Version: 14.0.2
 - Charm++ Version: commit 05a360eb0

**Describe the bug**

As the title suggests, the experience of running projections are not ideal. Following are the issues:
 * Projections does not respect Xresources's dpi s

[2020-07-28 23:08] rbuch commented on #104
Hmm, I'm not able to reproduce this under i3. See the attached image, which shows that tile boundaries are respected and timeline is shown. Single clicking also works fine for me. Is there perhaps something else that could be causing this? Doing a bit of searching online makes it seems like Java (likely Swing, specifically) doesn't play terribly nicely with bspwm. Are you able to use other Java pr

[2020-07-29 00:01] NK-Nikunj commented on #104
I don't do any java programming really. I had to install java to run projections so I can't tell if its a java issue. Do you have any set of tests that I can run to check if its a java issue?

[2020-07-29 17:59] rbuch commented on #104
I don't really have any tests to check; I think the best thing to do is just run some other Java programs with GUIs. Perhaps you can try running [VisualVM](https://visualvm.github.io/) or some other Java program you find to see how that gets rendered.

[2020-08-03 00:10] NK-Nikunj commented on #104
@rbuch apologies for the delay. Yes, it does seem like a java issue instead of projections issue. I'm experiencing similar issues with VisualVM (version 2.0.3).

Closing as the cause is orthogonal to projections.

[2020-08-03 00:10] #104 closed

[2020-12-28 19:23] rbuch opened #114 "Add support for logs in binary form"
Charm++ can generate binary version of Projections logs with the `+binary-trace` flag, which are generated via directly PUPing log entries to disk. Add a loader in Projections that can parse these files.